<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="Keywords" content="<%= keywords %>" />
  <meta name="Description" content="<%= description %>" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="icon" href="" type="image/x-icon">
  <link href="./build/css/<%= mincss %>?v=<%= time %>" rel="stylesheet">
  <!--[if lt IE 10]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
<![endif]-->
</head>